@import "fonts.scss";
@import "varibles.scss";
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: $Roboto_Regular;
  background: #fff;
  color: #787878;
}
//<span class="stroke1">

.stroke1{
  display: inline-block;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
  padding: 0px 10px;
}
.button__evagel{
  font-family: $Roboto_Black;
  font-size: 26px;
  width: 280px;
  display: flex;
  height: 70px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  border-radius: 42px;
  background: #faa61a;
  //transition: 0.5s;
  box-shadow: 0px 4px 0px #ffbf54;
  background: -moz-linear-gradient(left, #faa61a 0%, #ffbc4b 12%, #ffc25c 24%, #ffca72 41%, #ffca72 62%, #ffbc4b 83%, #faa61a 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #faa61a 0%,#ffbc4b 12%,#ffc25c 24%,#ffca72 41%,#ffca72 62%,#ffbc4b 83%,#faa61a 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #faa61a 0%,#ffbc4b 12%,#ffc25c 24%,#ffca72 41%,#ffca72 62%,#ffbc4b 83%,#faa61a 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#faa61a',GradientType=1 ); /* IE6-9 */
  &:hover{
    background: #ff9c35; /* Old browsers */
    background: -moz-linear-gradient(left, #ff9c35 1%, #ffae4d 12%, #ffc768 25%, #ffcb76 45%, #ffcb76 61%, #ffae4d 79%, #ff9c35 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff9c35 1%,#ffae4d 12%,#ffc768 25%,#ffcb76 45%,#ffcb76 61%,#ffae4d 79%,#ff9c35 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff9c35 1%,#ffae4d 12%,#ffc768 25%,#ffcb76 45%,#ffcb76 61%,#ffae4d 79%,#ff9c35 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c35', endColorstr='#ff9c35',GradientType=1 ); /* IE6-9 */
    box-shadow: 0px 4px 0px #ff9230;
  }
}

.show-btn{
  height: 30px;
  border-radius: 20px;
  width: 30px;
  cursor: pointer;
  background: url("../img/plus.png") no-repeat center;
  background-color: #faa61a;
  box-shadow: 0px 0px 0px 5px #f0fafb;
  margin: 15px auto 0;
  transition: 1s;
}
.rotate{
  background: #faa61a url("../img/minus.png") no-repeat center;
}

/*==================================BLOCK 1=======================================*/
.block1{
  background: #ecfbfc ;
  width: 100%;
  .wrapper{
    background: url("../img/window_bgn.png") no-repeat 361px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
/****LEFT****/
.block1__left{
  display: flex;
  flex-direction: column;
  width: 47%;
  position: relative;
}
.block1__left__header{
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}
.block1__left__header__logo{
  width: 117px;
  height: 33px;
}
.block1__left__header__item{
  display: flex;
  flex-direction: row;
  justify-items: center;
  a{
    display: flex;
    color: #323232;
    font-family: $Roboto_Medium;
    font-size: 19px;
    border-bottom: 1px solid #dfdfdf;
  }
  img{
    height: 22px;
    margin-left: 11px;
  }
}

.block1__left__title{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
  h1{
    color: #92278f;
    font-size: 70px;
    font-family:$Roboto_Black;
    span{
      color: #faa61a;
    }
  }
  h2{
    font-size: 46px;
    color: #1e1e1e;
    font-family:$Roboto_Black;
    margin-top: -20px;
  }
  p{
    font-size: 18px;
    color: #242424;
    margin-top: 23px;
  }
  .tooltip{
    position: absolute;
    font-size: 15px;
    color: #242424;
    font-family: $Roboto_Italic;
    right: -48px;
    top: -12px;
    &:before{
      width: 59px;
      height: 43px;
      content: '';
      background: url("../img/arrow_tooltip.png") center no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      left: -77px;
      top: 2px;
    }
  }
}

.block1__left__pack{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 20px;
  .block1__left__pack__inner{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    left: -36px;
    top: 26px;
    .left{
      background: url("../img/pack_left.png") center no-repeat;
      background-size: contain;
      width: 185px;
      height: 263px;
      position: relative;
      z-index: 1;
    }
    .center{
      background: url("../img/pack_center.png") center no-repeat;
      background-size: contain;
      width: 294px;
      height: 364px;
      position: relative;
      right: 53px;
    }
    .right{
      background: url("../img/pack_left.png") center no-repeat;
      background-size: contain;
      width: 185px;
      height: 263px;
      position: absolute;
      right: -23px;
      top: 104px;
    }
  }
  .block1__left__pack__sashe{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    li{
      color: #faa61a;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      line-height: 1;
      &:last-child{
        color: #942b91;
        margin-top: -4px;
      }
      &:last-child span{
        background: rgba(148, 43, 145, 0.78);
      }
      span{
        color: #fff;
        background: #faa61a;
        border-radius: 50%;
        height: 31px;
        width: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        margin-right: 7px;
      }
    }
  }
  .button__evagel{
    position: absolute;
    bottom: 51px;
    right: -24px;
    //&:active{
    //  box-shadow: none;
    //  bottom: 47px!important;
    //}
  }
}

/****RIGHT****/
.block1__right{
  display: flex;
  flex-direction: row;
  width: 52%;
  background: url(../img/woman_ass.png) 1px -30px no-repeat;
  justify-content: space-between;
  .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    li{
      width: 156px;
      position: relative;
      &:nth-child(1){
        width: 151px;
        top: -62px;
      }
      &:nth-child(2){
        width: 125px;
        top: 8px;
        left: -27px;
      }
      &:after{
        content: '';
        background: #faa61a url("../img/point.png") center no-repeat;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        position: absolute;
        display: block;
        right: -32px;
        top: 45px;
        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.34901960784313724);
      }
      p{
        padding: 10px 0px;
        color: #212121;
        font-size: 20px;
        border-bottom: 1px dashed #afbbbd;
        font-family: $Roboto_Black;
        line-height:1;
      }
      .text{
        font-size: 15px;
        color: #7b7b7b;
        padding: 10px 0px;
        display: block;
      }
    }
  }
  .right{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    li{
      width: 156px;
      position: relative;
      text-align: right;
      &:nth-child(1){
        top: -52px;
        width: 157px;
        right: -10px;
      }
      &:nth-child(2){
        top: -2px;
        width: 109px;
        left: -20px;
      }
      &:nth-child(3){
        top: 14px;
        width: 168px;
      }
      &:before{
        content: '';
        background: #faa61a url("../img/point.png") center no-repeat;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        position: absolute;
        display: block;
        left: -32px;
        top: 45px;
        box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.34901960784313724);
      }
      p{
        padding: 10px 0px;
        color: #212121;
        font-size: 20px;
        border-bottom: 1px dashed #afbbbd;
        font-family: $Roboto_Black;
        line-height:1;
      }
      .text{
        font-size: 15px;
        color: #7b7b7b;
        padding: 10px 0px;
        display: block;
      }
    }
  }
}

/*==================================BLOCK 2=======================================*/

.block2{
  background: #fff;;
  width: 100%;
  padding-bottom: 73px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 85px 10px 0px;
    line-height: 1;
    flex-direction: column;
    h1{
      color: #1e1e1e;
      text-align: center;
      font-family: $Roboto_Black;
      font-size: 45px;
      margin-bottom: 25px;
      position: relative;
      :before{
        width: 59px;
        height: 43px;
        content: '';
        background: url("../img/arrow_tooltip1.png") center no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        left: 73px;
        top: 84px;
      }
    }
  }
}
.block2__wikipedia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  img{
    width: 109px;
    height: 124px;
  }
  .block2__wikipedia__text{
    width: 82%;
    p{
      margin-bottom: 19px;
      font-size: 18px;
      color: #787878;
      line-height: 1.5;
      .wiki_bold{
        font-size: 20px;
        font-family: $Roboto_Medium;
        color: #1e1e1e;
      }
    }
  }
}
.block2__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  .left{
    border: 1px solid #dadada;
    border-radius: 8px;
    position: relative;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .block2__list__imgtop{
      background: #fff;
      position: absolute;
      top: -43px;
    }
    ul{
      margin-top: 43px;
      li{
        color: #1e1e1e;
        font-size: 19px;
        position: relative;
        line-height: 2;
        font-family:$Roboto_Medium;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          left: -22px;
          top: 16px;
          height: 4px;
          background: #da4916;
        }
      }
    }
    p{
      color: #da4916;
      font-size: 22px;
      font-family:$Roboto_Medium;
      margin: 27px 0px 44px;
    }
  }
  .right{
    border: 1px solid #dadada;
    border-radius: 8px;
    position: relative;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .block2__list__imgtop{
      background: #fff;
      position: absolute;
      top: -43px;
    }
    ul{
      margin-top: 43px;
      li{
        color: #1e1e1e;
        font-size: 19px;
        position: relative;
        line-height: 2;
        font-family:$Roboto_Medium;
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          left: -22px;
          top: 16px;
          height: 4px;
          background: #689c41;
        }
      }
    }
    p{
      color: #689c41;
      font-size: 22px;
      font-family:$Roboto_Medium;
      margin: 27px 0px 44px;
    }
  }
}

/*==================================BLOCK 3=======================================*/
.block3__around{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  .button__evagel{
    margin-top: -38px;
    width: 422px;
    cursor: pointer;
    z-index: 3;
  }
}

.block3{
      background: url("../img/window_bgn3.png") ;
      background-color: #ecfbfc;
      overflow: hidden;
      width: 100%;
      .wrapper{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        line-height: 1;
        flex-direction: column;
        padding: 76px 10px 55px;
        h1{
          font-size: 47px;
          font-family:$Roboto_Black;
          color: #1e1e1e;
          text-align: center;
          .evagel{
            color: #92278f;
            .evagel-y{
              color: #faa61a;
            }
          }
        }
      }
}

.block3__courses{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin-top: 24px;
  .left{
     background: url("../img/before.png") no-repeat;
      height: 624px;
      width: 493px;
     background-size: contain;
     position: absolute;
    left: -103px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 38px;
      color: #bad6ec;
      position: relative;
      font-family:$Roboto_Bold;
      top: 149px;
      right: 16px;
    }

   }
  .right{
    background: url("../img/after.png") no-repeat;
    height: 625px;
    width: 487px;
    background-size: contain;
    position: absolute;
    right: -97px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 38px;
      color: #bad6ec;
      position: relative;
      font-family:$Roboto_Bold;
      top: 149px;
      right: 29px;
    }
  }
  .center{
    width: 514px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    h2{
      color: #737373;
      font-size: 20px;
      text-align: center;
      font-family:$Roboto_Medium;
      line-height: 1.5;
      width: 100%;
    }
    .block3__center__checks{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 41px 0px 20px;
      position: relative;
      left: 43px;
      .item{
        font-size: 20px;
        color: #212121;
        font-family: $Roboto_Bold;
        position: relative;
        width: 187px;
        margin: 0px 58px;
        display: flex;
        justify-content: center;
        &:before{
          content: '';
          display: block;
          position: absolute;
          background: url("../img/check.png") center no-repeat;
          height: 30px;
          width: 30px;
          left: -39px;
          top: 5px;
        }
      }
    }
    .block3__center__packs{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .left__pack{
        background: url("../img/pack_right.png") no-repeat;
        height: 307px;
        width: 215px;
        background-size: contain;
        position: relative;
        left: 20px;
        z-index: 1;
        display: flex;
        .tooltip{
          display: flex;
          justify-content: center;
          p{
            color: #faa61a;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 1;
            background: #fff;
            align-items: center;
            height: 50px;
            width: 131px;
            padding-left: 18px;
            box-shadow: -2px 5px 7px 2px #d5edef7a;
            border-radius: 5px;
            position: relative;
            right: -12px;
            top: 46px;
            &:after{
              content: '';
              display: block;
              border: 20px solid transparent;
              border-left: 32px solid #fff;
              position: absolute;
              right: -36px;
              top: 6px;
            }
            span{
              color: #fff;
              background: #faa61a;
              border-radius: 50%;
              height: 37px;
              width: 39px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 22px;
              margin-right: 7px;
            }
          }
        }
      }
      .right__pack{
        background: url("../img/pack_left.png") no-repeat;
        height: 307px;
        width: 215px;
        background-size: contain;
        position: relative;
        right: 49px;
        .tooltip{
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            color: #942b91;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            line-height: 1;
            background: #fff;
            align-items: center;
            height: 50px;
            width: 128px;
            padding-left: 23px;
            box-shadow: -2px 5px 7px 2px #d5edef7a;
            border-radius: 5px;
            position: relative;
            right: -51px;
            top: 167px;
            &:after{
              content: '';
              display: block;
              border: 20px solid transparent;
              border-left: 32px solid #fff;
              position: absolute;
              right: auto;
              transform: rotate(180deg);
              left: -36px;
              top: 6px;
            }
            span{
              color: #fff;
              background: #942b91;
              border-radius: 50%;
              height: 37px;
              width: 39px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 22px;
              margin-right: 7px;
            }
          }
        }
      }
    }
    .button__evagel{
      position: absolute;
      bottom: -86px;
      left: 51px;
      width: 422px;
      cursor: pointer;
      z-index: 3;
    }
  }
}

/*==================================BLOCK 4=======================================*/
.block4{
  background: #fff;
  width: 100%;
  z-index: 1;
  .wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 92px;
    h1{
      font-size: 47px;
      font-family:$Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel{
        color: #faa61a;
        .evagel-y{
          color: #92278f;
        }
      }
    }
  }
}
.block4__usage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    color: #737373;
    font-size: 20px;
    font-family:$Roboto_Medium;
    margin-top: 32px;text-align: center;
    line-height: 1.5;
  }
  h2{
    font-family:$Roboto_Bold;
    color: #1e1e1e;
    font-size: 24px;
    margin-top: 34px;
  }
  .block4__usage__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 19px;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 269px;
      position: relative;
      &:after{
        background: #efefef;
        width: 1px;
        position: absolute;
        display: block;
        height: 82%;
        top: 0;
        content: '';
        right: -13px;

      }
      &:last-child{
        &:after{
          width: 0px;
        }
      }
      img{
        height: 140px;
      }
      h4{
        font-size: 18px;
        color: #212121;
        font-family:$Roboto_Medium;
        margin-top: 12px;
      }
      .text-container{
        text-align: center;
        font-size: 17px;
        height: 55px;
        overflow: hidden;
        line-height: 1.5;
        margin-top: 0px;
        transition: 1s;
        font-family:$Roboto_Regular;
        width: 269px;
      }
      .show{
        height: 128px;
        transition: 0.5s;
      }
    }
  }
  .block4__text{
    font-size: 18px;
    color: #787878;
    font-family: $Roboto_Regular;
    margin-bottom: 20px;
    width: 100%;
  }
  h4{
    color: #1e1e1e;
    font-size: 20px;
    font-family: $Roboto_Medium;
    text-align: center;
    .evagel{
      color: #faa61a;
      .evagel-y{
        color: #92278f;
      }
    }
  }
}

/*==================================BLOCK 5=======================================*/

.block5 {
  background: #ecfbfc ;
  width: 100%;
  z-index: 1;
  background: #ecfbfc url("../img/window_bgn4.png") no-repeat left;
  background-size: contain;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 0px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #faa61a;
        .evagel-y {
          color: #92278f;
        }
      }
    }
    h2{
      color: #737373;
      font-size: 20px;
      font-family: $Roboto_Medium;
      margin-top: 32px;
      text-align: center;
      line-height: 1.5;
    }
  }
}
.block5__publish{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  .left{
    background: url(../img/woman_journal.png) no-repeat 0px 56px;
    height: 814px;
    width: 430px;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 690px;
    margin-top: 61px;
    padding-bottom: 48px;
    .show-btn{
      margin: 12px 0;
    }
    h3{
      font-size: 20px;
      color: #1e1e1e;
      span{
      font-family: $Roboto_Black;
      }
    }
    .massage{
      font-size: 18px;
      color: #202020;
      font-family:$Roboto_Italic;
      background: #e0f2f3;
      padding: 21px 19px 23px 35px;;
      position: relative;
      margin: 25px 0 9px;
      width: 635px;
      line-height: 1.5;
      &:after{
        height: 15px;
        width: 23px;
        content: '';
        display: block;
        position: absolute;
        right: 14px;
        top: 59px;
        background: url("../img/kavicki.png") no-repeat center;
      }
      &:before{
        content: '';
        background: url("../img/massage_thing.png") center no-repeat;
        display: block;
        width: 29px;
        height: 17px;
        position: absolute;
        left: -23px;
        top: 41px;
      }

    }

    .block5__publish__text{
      color: #737373;
      font-size:18px;
      line-height: 1.5;
      height: 494px;
      overflow: hidden;
      transition: 1s;
      position: relative;
      &:before{
        height: 82px;
        width: 100%;
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ecfbfc+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(236,251,252,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(236,251,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(236,251,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ecfbfc',GradientType=0 ); /* IE6-9 */

      }
      p{margin-top: 14px}
      .boldtext{
        font-family:$Roboto_Medium;
        color: #1f1f1f;
      }
    }
  }
}
.block5__publish .right .block5__publish__text.show:before{
  display: none!important;
}
.block5__publish .right .show{
  height: 604px;
}

/*==================================BLOCK 6=======================================*/

.block6 {
  background: #fff;
  width: 100%;
  z-index: 1;
  padding-bottom: 73px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 0px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #faa61a;
        .evagel-y {
          color: #92278f;
        }
      }
    }
    h2 {
      color: #737373;
      font-size: 20px;
      font-family: $Roboto_Medium;
      margin-top: 32px;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.block6__focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #dadada;
  padding-bottom: 46px;
  position: relative;
  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 19px;
    height: 19px;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    bottom: -10px;
    transform: rotate(225deg);
    background: #fff;
  }
  .left {
    display: flex;
    flex-direction: column;
    border: 1px solid #dadada;
    padding: 20px 8px 18px 20px;
    border-radius: 10px;
    margin-top: 34px;
    width: 366px;
    p {
      color: #868686;
      font-size: 20px;
      line-height: 1.5;
      &:nth-child(2) {
        padding-bottom: 16px;
        margin-bottom: 11px;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          background: #dadada;
          height: 1px;
          width: 94%;
          display: block;
          top: 45px;
        }
      }
      &:nth-child(3) {
        margin-bottom: 14px;
      }
      .medium-text {
        color: #000000;
        font-family: $Roboto_Medium;
      }
      .bold-text {
        color: #000000;
        font-family: $Roboto_Black;
      }
    }
    .block6__focus__text {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .center {
    background: url("../img/man.png") no-repeat center;
    width: 225px;
    height: 437px;
    align-self: flex-end;
    margin-left: 39px;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-self: center;
    .block6__right__text {
      color: #1e1e1e;
      font-size: 18px;
      font-family: $Roboto_Medium;
      margin-bottom: 13px;
      margin-top: 28px;
    }
  }
}

.pro1 {
  background: url("../img/lines.png") left;
  width: 500px;
  height: 53px;
  border-radius: 10px;
  background-repeat: repeat-y;
  background-color: orange;
  background-position-y: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: 100%;
}

.pro2, .pro3, .pro4 {
  background: url("../img/dashed.png") left;
  width: 500px;
  height: 53px;
  border-radius: 10px;
  background-repeat: repeat-y;
  background-color: orange;
  background-position-y: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pro2 {
  background-size: 90%;
}

.pro3 {
  background-size: 94%;
}

.pro4 {
  background-size: 97%;
}

.progress__bgn {
  display: flex;
  align-items: center;
  p {
    font-size: 18px;
    font-family: $Roboto_Medium;
    color: #fff;

  }
}

.pro11 {
  font-size: 23px;
  font-family: $Roboto_Black;
  color: #fff;
  margin-right: 6px;
  margin-left: 23px;
}

.block6__diagramm {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  h3 {
    font-family: $Roboto_Black;
    font-size: 26px;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }
  .block6__diagramm__inner {
    display: flex;
    flex-direction: column;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    .line_x {
      display: flex;
      flex-direction: row;
      p {
        color: #000;
        font-family: $Roboto_Medium;
        font-size: 18px;
        margin-left: 75px;
        margin-top: -48px;
        position: relative;
        display: flex;
        align-items: center;
        &:last-child {
          &:before {
            background: #cfcfcf;
          }
        }
        &:before {
          width: 13px;
          position: absolute;
          height: 13px;
          border-radius: 50%;
          background: #faa61a;
          content: '';
          display: block;
          left: -25px;
        }
      }
    }
  }
}

/*==================================BLOCK 7=======================================*/

.block7 {
  background: url("../img/window_bgn3.png");
  background-color: #ecfbfc;
  overflow: hidden;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 55px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #92278f;
        .evagel-y {
          color: #faa61a;
        }
      }
    }
    h2 {
      color: #737373;
      font-size: 20px;
      font-family: $Roboto_Medium;
      margin-top: 32px;
      text-align: center;
      line-height: 1.5;
    }
  }
}

.block7__course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 42px;
  .left {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: -22px;
    align-items: baseline;
    .left__img {
      display: flex;
      flex-direction: column;
      .left__img__top {
        background: url("../img/left__img__top.png") no-repeat center;
        width: 190px;
        height: 56px;
        background-size: contain;
        margin-left: 51px;
        margin-bottom: 12px;
        position: relative;
        &:after {
          border-bottom: 1px dashed #b6c1c2;
          content: '';
          display: block;
          position: absolute;
          width: 97%;
          height: 1px;
          top: 55px;
          transform: rotate(5deg);
        }
      }
      .left__img__bottom {
        background: url("../img/left__img__bottom.png") no-repeat center;
        width: 245px;
        height: 301px;
        background-size: contain;
      }
    }
    .left__text {
      display: flex;
      flex-direction: column;
      margin-left: 18px;
      width: 100%;
      h4 {
        display: flex;
        flex-direction: row;
        font-size: 22px;
        color: #000;
        font-family: $Roboto_Medium;
        align-items: center;
        margin-bottom: 8px;
        img {
          background: #fff;
          margin-left: 29px;
          padding: 10px;
          border-radius: 50%;
          box-shadow: 0px 5px 7px 0px #def3f5;
        }
      }
      p {
        color: #878787;
        font-size: 18px;
        line-height: 1.5;
      }
      h5 {
        font-size: 18px;
        color: #1e1e1e;
        margin: 23px 0px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    width: 51%;
    margin-left: -22px;
    align-items: baseline;
    .right__img {
      display: flex;
      flex-direction: column;
      .right__img__top {
        background: url("../img/right__img__top.png") no-repeat center;
        width: 190px;
        height: 56px;
        background-size: contain;
        margin-left: 51px;
        margin-bottom: 12px;
        position: relative;
        &:after {
          border-bottom: 1px dashed #b6c1c2;
          content: '';
          display: block;
          position: absolute;
          width: 97%;
          height: 1px;
          top: 55px;
          transform: rotate(5deg);
        }
      }
      .right__img__bottom {
        background: url("../img/right__img__bottom.png") no-repeat center;
        width: 245px;
        height: 301px;
        background-size: contain;
      }
    }
    .right__text {
      display: flex;
      flex-direction: column;
      margin-left: 18px;
      width: 100%;
      h4 {
        display: flex;
        flex-direction: row;
        font-size: 22px;
        color: #000;
        font-family: $Roboto_Medium;
        align-items: center;
        margin-bottom: 8px;
        img {
          background: #fff;
          margin-left: 29px;
          padding: 10px;
          border-radius: 50%;
          box-shadow: 0px 5px 7px 0px #def3f5;
        }
      }
      p {
        color: #878787;
        font-size: 18px;
        line-height: 1.5;
      }
      h5 {
        font-size: 18px;
        color: #1e1e1e;
        margin: 23px 0px;
      }
    }
  }
}

/*==================================BLOCK 8=======================================*/
.block8 {
  background: #fff;
  width: 100%;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 92px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #faa61a;
        .evagel-y {
          color: #92278f;
        }
      }
    }
  }
}

.block8__usage__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 54px;
  margin-bottom: 19px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 269px;
    position: relative;
    &:after {
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 27%, rgba(239, 239, 239, 1) 67%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 27%, rgba(239, 239, 239, 1) 67%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 27%, rgba(239, 239, 239, 1) 67%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
      width: 1px;
      position: absolute;
      display: block;
      height: 100%;
      top: 0;
      content: '';
      right: -13px;
    }
    &:last-child {
      &:after {
        width: 0px;
      }
    }
    img {
      margin-bottom: -3px;
    }
    h4 {
      font-size: 20px;
      color: #212121;
      font-family: $Roboto_Medium;
      margin-top: 12px;
      text-align: center;
      margin-bottom: 4px;
    }
    .text-container {
      text-align: center;
      font-size: 17px;
      height: 174px;
      overflow: hidden;
      line-height: 1.5;
      margin-top: 0px;
      transition: 1s;
      font-family: $Roboto_Regular;
      width: 227px;
    }
    .show {
      height: 281px;
      transition: 0.5s;
    }
  }
}

/*==================================BLOCK 9=======================================*/

.block9 {
  background: url("../img/window_bgn3.png");
  background-color: #ecfbfc;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    align-items: center;
    padding: 76px 10px 55px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #92278f;
        .evagel-y {
          color: #faa61a;
        }
      }
    }
    h2 {
      color: #737373;
      font-size: 20px;
      font-family: $Roboto_Medium;
      margin-top: 22px;
      margin-bottom: -12px;
      text-align: center;
      line-height: 1.5;
    }
    .button__evagel {
      width: 261px;
      margin-top: 35px;
      cursor: pointer;
      z-index: 1;
    }
  }
}

.block9__usage__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
  margin-bottom: 19px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    position: relative;
    margin: 0 39px;
    img {
      margin-bottom: -3px;
    }
    h4 {
      font-size: 20px;
      color: #212121;
      font-family: $Roboto_Bold;
      margin-top: 19px;
      text-align: center;
      margin-bottom: 6px;
      width: 100%;
    }
    h5 {
      font-family: $Roboto_Medium;
      color: #212121;
      text-align: center;
      font-size: 17px;
      font-weight: normal;
      line-height: 1.5;
      width: 100%;
      margin-bottom: 20px;
    }
    .text-container {
      text-align: center;
      font-size: 18px;
      height: 166px;
      overflow: hidden;
      line-height: 1.5;
      transition: 1s;
      font-family: $Roboto_Regular;
      width: 285px;
      margin: 0 auto;
      position: relative;
      &:before {
        height: 82px;
        width: 100%;
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ecfbfc+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(236, 251, 252, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(236, 251, 252, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(236, 251, 252, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ecfbfc', GradientType=0); /* IE6-9 */

      }
    }
    .show {
      height: 546px;
      transition: 0.5s;
      &:before {
        display: none;
      }
    }
  }
}

/*==================================BLOCK 10=======================================*/

.block10 {
  background: #fff;
  width: 100%;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: column;
    padding: 76px 10px 64px;
    h1 {
      font-size: 47px;
      font-family: $Roboto_Black;
      color: #1e1e1e;
      text-align: center;
      .evagel {
        color: #faa61a;
        .evagel-y {
          color: #92278f;
        }
      }
    }
  }
}

.block10__usage__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
  margin-bottom: 19px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    position: relative;
    margin: 0 57px;
    img {
      margin-bottom: -3px;
    }
    h4 {
      font-size: 23px;
      color: #212121;
      font-family: $Roboto_Bold;
      margin-top: 19px;
      text-align: center;
      margin-bottom: 22px;
      width: 100%;
    }
    .text-container-n {
      text-align: center;
      font-size: 18px;
      overflow: hidden;
      line-height: 1.5;
      transition: 1s;
      font-family: $Roboto_Regular;
      width: 285px;
      margin: 0 auto;
      position: relative;
    }
  }
}

/*==================================FOOTER=======================================*/

.footer {
  background: #fff;
  width: 100%;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 1;
    flex-direction: row;
    padding: 76px 10px 64px;
    .everad__logo {
      display: flex;
      align-items: center;
      img {
        margin-right: 27px;
      }
    }
    .privacy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        color: #878787;
        text-decoration: underline;
      }
    }
    .indificator {
      flex-direction: column;
      text-align: right;
    }
    p {
      font-size: 17px;
      line-height: 1.5;
      color: #878787;
    }
  }
}