$display_flex: flex;
$main_width: 1170px;
$Roboto_Regular: "Roboto Regular";
$Roboto_Black: "Roboto Black";
$Roboto_Bold: "Roboto Bold";
$Roboto_Light: "Roboto Light";
$Roboto_Medium: "Roboto Medium";
$text_transform: uppercase;
$blue_bgn: #1b4188;
$orange_bgn: #ff8332;
$white_color: #fff;
$orange_color: #f47421;
$black_color: #1b1b1b;
$gray_color: #7a7a7a;
$light-black_color: #222222;
$font-size_22px: 22px;
$font-size_17px: 17px;
$font-size_37px: 36px;